body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}


.material-symbols-outlined {
    color: rgb(85, 85, 85);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

main {
    width: 83%;
    margin: auto;
}


/* section 1 styles */


#finder {
    background-color: #f2fffe;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#finder>div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

#finder>div>div {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
}

#finder>div>div:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}



#finder>div>div>img {
    max-width: 100%;
    border-bottom: 0.4px solid rgb(213, 213, 213);
}

.finder_discount {
    font-size: 12px;
    color: red;
}


#finder>h3 {
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(58, 58, 58);
}

main {
    text-align: center;
}


@media screen and (min-width: 746px) and (max-width: 1324px) {
    #finder>div {
        grid-template-columns: repeat(4, 1fr);

    }
}

@media screen and (min-width: 500px) and (max-width: 745px) {
    #finder>div {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    #finder>div {
        grid-template-columns: repeat(2, 1fr);

    }
}

/* section 2 */

#lab_test {
    margin-top: 80px;
    text-align: left;
}

#lab_test>h2 {
    color: rgb(47, 47, 47);
    font-weight: 600;
}

#lab_test>p {
    display: flex;
    align-items: center;
}

#lab_test>p>img {
    max-width: 100px;
    margin-left: 10px;
}

#lab_test>div {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

#lab_test>div:hover {
    cursor: pointer;
}

#lab_test>div>img {
    max-width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 950px) {
    #lab_test>div {
        grid-template-columns: repeat(3, 1fr);
    }

    #lab_test>div>img {
        max-width: 200px;
    }
}

@media screen and (min-width: 200px) and (max-width: 740px) {
    #lab_test>div {
        grid-template-columns: repeat(2, 1fr);
    }


}

/* section 3 styles */

.slider {
    margin-top: 100px;
}

.slider>h2 {
    color: rgb(47, 47, 47);
}




.product_slider_wrapper {
    /* width: 100%; */
    margin-top: 50px;
    display: flex;

    align-items: center;

}


.card_wrapper::-webkit-scrollbar {
    display: none;
}

.product_slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.left_btn>button,
.right_btn>button {
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
}


.card_wrapper {
    margin: 0px 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.card>img {
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    /* border: 1px solid black; */
}

.card {
    text-align: left;
}

.card>img:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}


.price {
    font-weight: 600;
}

.price>span {
    color: red;
}

.discount {
    color: gray;
}

.card>p {
    font-size: 15px;
}

.product_slider::-webkit-scrollbar {
    display: none;
}

/* section 4 styles */

#Why_choose_us {
    max-width: 100%;
    /* width: fit-content; */
    background-color: aliceblue;
    margin-top: 100px;
    padding: 50px 30px;
}

#Why_choose_us>h2 {
    margin-top: 0px;
    color: rgb(60, 60, 60);
}

#Why_choose_us>div {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#Why_choose_us>div>div {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(60, 60, 60);
}

#Why_choose_us>div>div>div>h2 {
    margin: 0px;

}

#Why_choose_us>div>div>img {
    width: 50%;
    margin: 0px 20px;
}

#Why_choose_us>h2 {
    text-align: left;
}


@media screen and (min-width: 200px) and (max-width: 1410px) {
    #Why_choose_us>div {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    #Why_choose_us>div>div>img {
        width: 100px;
    }
}


/* modal styles */

#overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: fixed;
    top: 0%;
    z-index: 999;
    /* opacity: 1; */
    display: none;
    /* z-index: -1; */
}



#login_form_wrapper {
    width: 350px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    transition: 1.5s;
    z-index: 1000;
    color: rgb(97, 97, 97);
}




#login_form input {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    outline: none;
}

#login_btn {
    background-color: #17847c;
    color: white;
    padding: 10px 0px;
}

#login_btn:hover {
    cursor: pointer;
    background-color: #10635e;
}

#login_form_wrapper>p {
    text-align: center;
    margin-bottom: 5px;
}

#login_form_wrapper a {
    color: #17847c;
}

#login_form_wrapper>span {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    background-color: #aeaeae;
    cursor: pointer;
    /* color: white; */
    text-align: center;
    line-height: 25px;
}