body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}


.material-symbols-outlined {
    color: rgb(85, 85, 85);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

main {

    width: 75%;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    row-gap: 80px;
}

.product_card>img {
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.product_card {
    width: 240px;
    /* height: 400px; */
}

.product_card>button {
    width: 100%;
    padding: 5px;
    background-color: #17847c;
    color: white;
    outline: none;
    border: none;
}

.product_card>p {
    max-width: 100%;
}

.product_card>button:hover {
    cursor: pointer;
    background-color: #115d58;

}